//---------Colors------------------
$C-white: #ffffff;
$C-grey: #9BA0A5;
$C-black: #1F1F1F;
$C-lightBlack: #202124;
$C-lighWhite: #F9F9F9;

//---------Goutierres---------------
$G-side: 2rem;

//---------FONTS-------------------
$F-path: '../fonts/';
$F-main: Supreme, sans-serif;

//========================FONT WEIGHT=======================
$FW-thin: 100;
$FW-light: 300;
$FW-normal: 400;
$FW-medium: 500;
$FW-semibold: 600;
$FW-bold: 700;
$FW-extrabold: 800;
$FW-black: 900;
