//---------Colors------------------
$C-white: #ffffff;

//---------Goutierres---------------
$G-side: 2rem;

//---------FONTS-------------------


//========================FONT WEIGHT=======================
$FW-thin: 100;
$FW-light: 300;
$FW-normal: 400;
$FW-medium: 500;
$FW-semibold: 600;
$FW-bold: 700;
$FW-extrabold: 800;
$FW-black: 900;
